/* body{
    margin: 0;
}
section {
    height: 100vh;
    background-color: #666;
    position: relative;
    overflow: hidden;
}
.sect-1 {
    background-image: url(../img/bg.jpg);
    background-size: cover;
}
.header-text {
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-transform: uppercase;
    color: #fff;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 560px;
    margin-left: -230px;
}

.sect-2 img {
    position: absolute;
    width: 100%;
    top: 100px;
} */

body {
    overflow: hidden;
    background: #84dbd7;
}
.scene {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    right: 0;
    border-bottom: 100px solid #342a2a;
    height: 800px;
}
.scene > div {
    position: absolute;
    bottom: 0;

}
.ground {
    width: 100%;
    height: 30px;
    background: #1d1818;
    z-index: 999;
}
.scene > div.clouds {
    width: 895px;
    left: 50%;
    margin-left: -447px;
    height: 253px;
    bottom: 250px;
    background: url(../img/cloud.png) no-repeat center;
}
.scene div.trees {
    width: 908px;
    height: 174px;
    background: url(../img/three.png) no-repeat center;
    z-index: 100;
    left: 50%;
    bottom: 20px;
    margin-left: -454px;
}

.scene div.grass {
    width: 964px;
    height: 37px;
    background: url(../img/grass.png) no-repeat center;
    z-index: 200;
    left: 50%;
    bottom: 20px;
    margin-left: -462px;
}

.scene div.buildings {
    width: 763px;
    height: 303px;
    background: url(../img/building.png) no-repeat center;
    left: 50%;
    margin-left: -400px;
}